.header {
  height: 5rem;
  background-color: orangered;

  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0 1.5rem;

    &__left {
      background-color: yellowgreen;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      
      .navigation__logo {
        fill: blue;
      }

      .navigation__link {
        padding: 1.5rem 2rem;
      }


    }

    &__right {
      background-color: blueviolet;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
    }

  }

}
